# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Qdrant Database
qdrant_db/

# Uploaded PDFs
data/documents/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# macOS
.DS_Store